<div class="medicine-get-page container">
  <div class="caption">
    <h2>Medicines</h2>
    <hr>
  </div>
  <table class="table table-light table-striped">
      <thead>
          <tr>
              <th>#</th>
              <th>Name</th>
              <th>Type</th>
              <th>Price</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medicine of medicines; index as i" [appCheckTable]="[medicine.getName(), medicine.getType()]">
          <th>{{i + 1}}</th>
          <td>{{medicine.getName()}}</td>
          <td>{{medicine.getType()}}</td>
          <td>{{medicine.getPrice()}}</td>
        </tr>
      </tbody>
    </table>
</div>